doctype html
html(lang='en')
  head
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css').
      legend{
            margin-top: 2rem;
        }
  body
      .container.auth-form-container
       .row
        .span12
          #loginModal
            h3.text-center Welcome to chat!
            .well
             .center-block(style = 'width: 400px;')
              ul.nav.nav-tabs
                li
                  a(href='#login', data-toggle='tab') Login
                li.active
                  a(href='#register', data-toggle='tab') Register
              #myTabContent.tab-content
                #login.tab-pane.fade
                  form#login-form(action='/login', method='POST')
                    fieldset
                      #legend
                        legend Login
                      .form-group
                        label.control-label(for='nickname') Nickname
                        .controls
                          input#nickname.form-control(type='text', name='nickname', placeholder='')
                      .form-group
                        label.control-label(for='password') Password
                        .controls
                          input#password.form-control(type='password', name='password', placeholder='')
                      .form-group
                        .controls
                          button.btn.btn-success Login
                #register.tab-pane.active.in
                  #tab
                   form#register-form(method='POST', action='/register')
                    fieldset
                      #legend
                        legend Registrer
                      .form-group
                        label.control-label(for='register_nickname') Nickname
                        .controls
                          input#register_nickname.form-control(type='text', name='nickname', placeholder='')
                      .form-group
                        label.control-label(for='password') Name
                        .controls
                          input#name.form-control(type='password', name='name', placeholder='')
                      .form-group
                        label.control-label(for='register_password') Password
                        .controls
                          input#register_password.form-control(type='password', name='password', placeholder='')
                      .form-group
                        .controls
                           button.btn.btn-primary Register
