.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-heading{
    background-color: #06738f !important
}
.input-nickname-tab{
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 300px;
    z-index: 10000;
    bottom: 60px;
    right : 80px;
    left: 30px;
    overflow-y: scroll;
    top : 100px;
    background: #fff;
    line-height: 1.4rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.15);
    padding: 2rem;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px dotted #B3A9A9;*/
}

.chat-msg-content{
    /*background-color: #f3f5f9;*/
    background-color: #ebebeb;
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
}
.chat li:nth-of-type(odd) .chat-msg-content
{
    margin-left: 40%;
}

.chat li:nth-of-type(even) .chat-msg-content
{
    margin-right: 40%;
}


.chat .chat-msg p
{
    margin-bottom: 0.5rem;
    /*color: #777777;*/
}

.chat .notification-msg{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    color : #06738f;
    margin: 2rem;
    /*border-top : 1px solid grey*/
    /*box-shadow: 10px 2px 1px*/
}

.header{
    margin-top: 0.5rem;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    height: 560px;
    overflow-y: scroll;
}

.chat-body-wrp{
    padding-right: 0;
}

#msg-list .msg-for-current-user{
    background-color: #05728f;
    color: white;
}
#msg-list .msg-for-current-user small{
    color: white;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.users-list{
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    height: 600px;
}

.users-list li{
    display: flex;
    align-items: center;
}
.users-list li span.nick{
    color: lightseagreen;
}

.users-list li:hover .content{
    background-color: #099c9e;;
    cursor: pointer;
    color : white;
}

.users-list li:hover .content span, 
.users-list li:hover .content span.nick, 
.users-list li:hover .content p#user-status-text{
    color: white;
}

li .content{
    border: 5px solid white;
    border-radius: 5px;
    font-size: 1.6rem;
    background-color: #f6f6f6;
    padding: 1rem;
    padding-left: 2rem;
    width: 100%;
    height: 100%;
}

.users-list i.fa-circle{
    font-size: 9px;
    margin-left : 5px;
}

.users-list .online i.fa-circle{
    color : lightseagreen;
}

.users-list .offline i.fa-circle{
    color : grey;
}

.msg-for-current-user{
   background-color: #f6f6f6;
}

.user-list li.select-user-item :hover .content,
.user-list li.select-user-item :hover .content,
{
    background-color: #06738f;
    color : white;
}

#logout-btn{
    float: right;
    cursor: pointer;
    display: block;
}

#isTypingNotification{
    margin: 1rem;
    min-height: 20px;
    font-style: italic;
}

#user-status-text{
  margin : 0;
  font-size: 13px;
  font-style: italic;
}
